body, ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
    cursor: pointer;
}

.hero {
    background-image: url('background-image.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

body {
    background-color: black;
}


.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}


.featured {
    padding: 40px 0;
    text-align: center;
}

.featured h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.movie-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}
